# Будут игнорироваться все файлы, заканчивающиеся суффиксами _old и _backup
*_old
*_backup

# Будут проигнорированы файлы в каталоге tmp
tmp/

# Будут проигнорированы файлы Thumbs.db и .DS_Store
Thumbs.db
.DS_Store